
p {
    position: relative;
    top: 60px;
}
body{
    margin: 0px;
    text-align: center;
}
h1 {
    margin: 0px;
    position: relative;
    top: 59px;

}
.top_container {
    background-color: #D2E9E9;
}
.middle_container{
    height: 200px;
    width: 200px;
    background-color: red;
    position: absolute;
    left: 200px;
    top: 720px;
}
.bottom_container{
    height: 200px;
    width: 200px;
    background-color: blue;

}
.top_cloud{
    position: absolute;
    margin-left: 10%;

}
.bot_cloud{
    position: absolute;
}